@import "../../vars.css";

.container{
margin-top: 76px;
color: var(--color-text);
margin-left: 10%;
margin-right: 10%;
}
.title{
    color: var(--color-text);
    font-family: var(--font-roboto);
    font-weight: 700;
    font-size: 35px;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}
.project{
    margin-top: 37px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-bottom: 20px;

}